body {
  margin: 0;
  background-color: black;
}

a {
  text-decoration: none;
}

#play-area {
  position: relative;
  width: 100vh;
  height: 100vh;
  margin: auto;
}

#backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
}

#backdrop,
#dice {
  position: absolute;
  top: 0;
  width: 100vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#options,
#movements,
#step-pieces {
  min-width: 20vw;
  max-width: 80vw;
  background-color: bisque;
  padding: 20px;
}

#options span {
  margin-right: 10px;
}

#options select {
  margin: 0 5px 5px 0;
}

#options .buttons {
  text-align: center;
}

table#board {
  border: 1px solid;
  height: 100%;
  width: 100%;
}

table#board td {
  height: calc(100% / 14 + 3px);
  width: calc(100% / 14 + 3px);
  border: 1px solid;
  background-color: whitesmoke;
  position: relative;
}

.arrow {
  position: absolute;
  font-size: 48px;
  z-index: 1;
}

.arrow.ne {
  top: -35px;
  right: -20px;
  transform: rotate(-45deg);
}

.arrow.se {
  top: -35px;
  left: -20px;
  transform: rotate(45deg);
}

.arrow.sw {
  bottom: -35px;
  left: -20px;
  transform: rotate(135deg);
}

.arrow.nw {
  bottom: -35px;
  right: -20px;
  transform: rotate(225deg);
}

td#center {
  height: calc((100% / 14 + 3px) * 3);
  width: calc((100% / 14 + 3px) * 3);
  background-image: url(img/yinyang.png);
}

td#center .message {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px;
  text-align: center;
  background-color: teal;
  color: whitesmoke;
}

td#center .piece {
  display: none;
}

.yellow:not(.home) {
  background-color: yellow !important;
}

.green:not(.home) {
  background-color: green !important;
}

.blue:not(.home) {
  background-color: blue !important;
}

.red:not(.home) {
  background-color: red !important;
}

.home,
#center,
#step-pieces {
  background-color: bisque !important;
  background-size: cover;
  position: relative;
}

.yellow.home {
  background-image: url(img/earth.png);
}

.green.home {
  background-image: url(img/air.png);
}

.blue.home {
  background-image: url(img/water.png);
}

.red.home {
  background-image: url(img/fire.png);
}

.piece {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  text-decoration: none;
  z-index: 2;
  border: 1px solid;
  border-radius: 100px;
}

.piece.active {
  z-index: 9;
}

.piece.moving {
  z-index: 10;
  border-style: dashed;
}

.piece > div {
  border: 1px solid;
  border-radius: 100px;
  padding-bottom: 70%;
}

.home .piece {
  width: 20%;
  height: auto;
  padding-bottom: 20%;
}

.home .piece > div {
  border-color: aqua;
}

.home .piece:nth-child(1),
.home .piece:nth-child(2) {
  top: 5%;
}

.home .piece:nth-child(3),
.home .piece:nth-child(4) {
  bottom: 5%;
  top: unset;
}

.home .piece:nth-child(1),
.home .piece:nth-child(3) {
  left: 5%;
}

.home .piece:nth-child(2),
.home .piece:nth-child(4) {
  right: 5%;
}

.home .piece:nth-child(3) > div,
.home .piece:nth-child(4) > div {
  padding-top: 70%;
  padding-bottom: 0;
}

.step.blue .piece.blue,
.step.green .piece.green {
  border-color: whitesmoke;
}

#step-pieces .piece {
  width: 6vh;
  height: 6vh;
  position: relative;
}

.home .roll,
.home .playing {
  position: absolute;
  padding: 16px;
  border-radius: 16px;
  left: calc(50% - 65px);
  top: calc(50% - 30px);
}

.home .roll {
  background-color: tomato;
}

.home .playing {
  background-color: sienna;
  color: aliceblue;
  animation-name: playing;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.piece-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

#dice {
  padding: 5px 0;
}

.dice {
  position: absolute !important;
}

.die {
  position: absolute;
  height: calc(100% / 14 + 3px);
  width: calc(100% / 14 + 3px);
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#die-1 {
  left: 50vh;
}

#die-2 {
  right: 50vh;
}

.moves,
.step-pieces {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#movements {
  position: absolute;
  top: 60%;
}

.moves .close {
  position: absolute;
  top: -18px;
  right: -18px;
  padding: 6px 12px;
  border: 1px solid darkred;
  background-color: darkred;
  color: whitesmoke;
  border-radius: 20px;
}

.moves .sign {
  padding: 5px;
}

.moves .move,
.step-pieces .piece {
  padding: 20px;
  border: 2px dashed;
}

.moves .moved,
.moves .not-movable {
  background-color: darkgray;
  border-width: 1px;
}

#movements .message,
#step-pieces .message {
  background-color: tomato;
  color: whitesmoke;
  width: 100%;
  padding: 5px;
  text-align: center;
}

#step-pieces .message {
  margin-top: 10px;
}

.moves:not(.hide) + .message {
  margin-top: 10px;
}

.moves:not(.hide) + .message > button {
  display: none;
}

.hide {
  display: none !important;
}

.github {
  opacity: .5;
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px;
  background-color: yellowgreen;
}

.github:hover {
  opacity: 1;
}

@keyframes playing {
  from {
    background-color: sienna;
  }

  to {
    background-color: slategrey;
  }
}

@media (max-width: 767px) {
  #play-area {
    width: 100vw;
    height: 100vw;
  }

  #backdrop,
  #dice {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  td#center .message {
    position: fixed;
  }

  #die-1 {
    left: 40vw;
  }

  #die-2 {
    right: 42vw;
  }

  #options {
    width: 90vw;
  }

  #options > div {
    margin-bottom: 10px;
  }

  #options select {
    margin-bottom: 10px;
  }

  .github {
    opacity: 1;
    position: relative;
    width: 100%;
    text-align: center;
  }
}
